<%- model_class = Round -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_round_path,
            :class => 'btn btn-primary pull-right' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:arrows) %></th>
      <th><%= model_class.human_attribute_name(:scoring) %></th>
      <th>Round<br/>Type</th>
      <th><%= model_class.human_attribute_name(:order_id) %></th>
      <th><%= model_class.human_attribute_name(:on_card) %></th>
      <th><%= model_class.human_attribute_name(:official) %></th>
      <th>Group<br/>Letter</th>
    </tr>
  </thead>
  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= link_to round.name, round_path(round) %></td>
        <td><%= round.description %></td>
        <td><%= round.arrows %></td>
        <td><%= round.scoring %></td>
        <td><%= round.indoor_outdoor %></td>
        <td><%= round.order_id %></td>
        <td><%= yes_no round.on_card %></td>
        <td><%= yes_no round.official %></td>
        <td><%= round.group_letter %></td>
      </tr>
    <% end %>
  </tbody>
</table>

